In [ ]:
#1.Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [178]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\hp\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [179]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [180]:
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\zipfile\chromedriver.exe")

In [181]:
driver.get("https://www.naukri.com/")

In [182]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [183]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [184]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [185]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [186]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company) 
    
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [187]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [188]:
df=pd.DataFrame({'Job_Title':job_title,'Job_Location':job_location,'Company_Name':company_name,'Experience_Required':experience_required})
df

,Job_Title,Job_Location,Company_Name,Experience_Required
0,Data Analyst,Bangalore/Bengaluru,Bayer,2-5 Yrs
1,Data Analyst,Bangalore/Bengaluru,Cargill,3-5 Yrs
2,"Data Analyst, plsql, Tableau, Informatica","Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Capgemini,3-8 Yrs
3,Senior Data Analyst - SQL/Tableau,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Global Employees,7-12 Yrs
4,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-7 Yrs
5,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,3-6 Yrs
6,Data Analyst,Bangalore/Bengaluru,Bright Money,0-2 Yrs
7,Data Analyst,Bangalore/Bengaluru,Blinkit,0-2 Yrs
8,Leap COE Intern(Data Analyst),Bangalore/Bengaluru,Info Origin Inc.,0-1 Yrs
9,Job opportunity Switzerland based MNC / JR. Da...,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,0-2 Yrs

In [189]:
url=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
url[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="4c1fb110019a35e1461a4702c5b747a8", element="0cd2ff49-2ce9-4e66-8be5-ccec6047e9b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4c1fb110019a35e1461a4702c5b747a8", element="1939b837-d026-4674-b1fa-1a176813a96f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4c1fb110019a35e1461a4702c5b747a8", element="0582c02f-b017-40ab-895b-759772ccae01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="4c1fb110019a35e1461a4702c5b747a8", element="c65678c9-31ed-47f3-9d77-c8c7fdef6435")>]

In [190]:
for i in url[0:4]:
    print(i.get_attribute('href'))

https://www.naukri.com/job-listings-data-analyst-bayer-cropscience-ltd-bangalore-bengaluru-2-to-5-years-120822500794
https://www.naukri.com/job-listings-data-analyst-cargill-india-pvt-ltd-bangalore-bengaluru-3-to-5-years-120822500774
https://www.naukri.com/job-listings-data-analyst-plsql-tableau-informatica-capgemini-technology-services-india-limited-noida-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-3-to-8-years-120822000329
https://www.naukri.com/job-listings-senior-data-analyst-sql-tableau-global-employees-kolkata-mumbai-hyderabad-secunderabad-pune-bangalore-bengaluru-7-to-12-years-120822907634

In [191]:
#2.Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
#have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data

In [192]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\hp\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [193]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [194]:
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\zipfile\chromedriver.exe")

In [195]:
driver.get("https://www.naukri.com/")

In [196]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [197]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [198]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [203]:
job_title=[]
job_location=[]
company_name=[]

In [204]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]//span')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [205]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [206]:
df=pd.DataFrame({'Job_Title':job_title,'Job_Location':job_location,'Company_Name':company_name})
df

,Job_Title,Job_Location,Company_Name
0,Senior Manager - EmTech - Machine Learning - P&T,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
1,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS)
4,Data Science Senior Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
5,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro
6,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
7,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
8,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",United Phosphorus Limited
9,BCAI - Senior Data Scientist,Bangalore/Bengaluru,Bosch Global Software Technologies

In [ ]:
#3.In this question you have to scrape data using the filters available on the webpage as shown below
#You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [226]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\hp\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [256]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [257]:
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\zipfile\chromedriver.exe")

In [258]:
driver.get("https://www.naukri.com/")

In [259]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [260]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Delhi/NCR')

In [261]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [271]:
salary=driver.find_elements(By.CLASS_NAME,'filterOptns')
salary

[<selenium.webdriver.remote.webelement.WebElement (session="13da06617348ae7dbfd51e681b88a3ce", element="e52f853b-035a-4160-90a3-e6c1afdb1db0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13da06617348ae7dbfd51e681b88a3ce", element="f1c7c434-6991-4f32-b1ff-6a20e65145b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13da06617348ae7dbfd51e681b88a3ce", element="6077c7b6-39cb-4ec6-92d8-89ce1d44389a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13da06617348ae7dbfd51e681b88a3ce", element="0bb3d591-269c-4d75-a75f-02854e048283")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13da06617348ae7dbfd51e681b88a3ce", element="23173e68-8393-4996-85b9-81cff56885ed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13da06617348ae7dbfd51e681b88a3ce", element="8027acf9-d34f-44ce-bd4f-27d00f2f0adc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13da06617348ae7dbfd51e681b88a3ce", element="c3e7f7c4-96a3-417e-929f-72e083b83f3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13da06617348ae7dbfd51e681b88a3ce", element="342247c2-85a7-4dde-b1e9-40e17eb0195c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13da06617348ae7dbfd51e681b88a3ce", element="808eb378-ec17-4890-9306-2ea59746338d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13da06617348ae7dbfd51e681b88a3ce", element="1e2e0d91-d6d9-4dc3-926c-9eb088631fc0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13da06617348ae7dbfd51e681b88a3ce", element="3d5a4890-d45c-4dc2-ba92-8c06de6e941e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13da06617348ae7dbfd51e681b88a3ce", element="7fa7f3ef-88bd-4f6a-ade7-163f2cb515e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13da06617348ae7dbfd51e681b88a3ce", element="a3a92ae9-a472-4852-b69b-a1a3606c8d7e")>]

In [272]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [273]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_tags.append(company) 
    
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [274]:
print(len(job_title),len(job_location),len(company_name),len(experience_required),)

10 10 10 10

In [277]:
df=pd.DataFrame({'Job_Title':job_title,'Job_Location':job_location,'Company_Name':company_name,'Experience_Required':experience_required})
df

,Job_Title,Job_Location,Company_Name,Experience_Required
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
3,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
4,Chat-bot Developer / Data Scientist,"Mumbai, New Delhi, Bangalore/Bengaluru\n(WFH d...",Big Seo Buzz,2-7 Yrs
5,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
6,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
7,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
8,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
9,Data Scientist,"Noida, Gurgaon/Gurugram, Jaipur",Celebal Technologies,1-5 Yrs

In [ ]:
#4.Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [78]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\hp\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [79]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [100]:
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\zipfile\chromedriver.exe")

In [101]:
driver.get("https://www.flipkart.com/")

In [102]:
designation=driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('sunglasses')

In [103]:
search=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search.click()

In [104]:
brand=[]
description=[]
price=[]
discount=[]

In [105]:
com=driver.find_elements(By.XPATH,'//div[@class="_2B099V"]')
for i in com:
    brand.append(i.text)
    
desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in desc:
    description.append(i.text)
    
rate=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in rate:
    price.append(i.text)
    
offer=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]//span')
for i in offer:
    discount.append(i.text)

In [106]:
print(len(brand),len(description),len(price),len(discount))

40 40 40 40

In [107]:
df=pd.DataFrame({'Brand':brand,'Product_Description':description,'Price':price,'Discount':discount})
df

,Brand,Product_Description,Price,Discount
0,"VINCENT CHASE\nby Lenskart Polarized, UV Prote...","by Lenskart Polarized, UV Protection Aviator S...",₹999,50% off
1,"VINCENT CHASE\nby Lenskart Polarized, UV Prote...","by Lenskart Polarized, UV Protection Aviator S...","₹1,415",29% off
2,Fastrack\nUV Protection Wayfarer Sunglasses (F...,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
3,Fastrack\nUV Protection Rectangular Sunglasses...,UV Protection Rectangular Sunglasses (Free Size),₹639,20% off
4,Elligator\nUV Protection Round Sunglasses (54)...,UV Protection Round Sunglasses (54),₹298,88% off
5,"SUNBEE\nUV Protection, Polarized Wayfarer Sung...","UV Protection, Polarized Wayfarer Sunglasses (...",₹283,78% off
6,PHENOMENAL\nUV Protection Retro Square Sunglas...,UV Protection Retro Square Sunglasses (53),₹267,73% off
7,"VINCENT CHASE\nby Lenskart Polarized, UV Prote...","by Lenskart Polarized, UV Protection Aviator S...",₹949,52% off
8,PIRASO\nUV Protection Aviator Sunglasses (54)\...,UV Protection Aviator Sunglasses (54),₹279,82% off
9,NuVew\nUV Protection Aviator Sunglasses (57)\n...,UV Protection Aviator Sunglasses (57),₹198,73% off
10,Fastrack\nUV Protection Aviator Sunglasses (Fr...,UV Protection Aviator Sunglasses (Free Size),₹639,20% off
11,"VINCENT CHASE\nby Lenskart Polarized, UV Prote...","by Lenskart Polarized, UV Protection Aviator S...",₹949,52% off
12,"DAHAAZIL\nUV Protection, Night Vision, Riding ...","UV Protection, Night Vision, Riding Glasses Wa...",₹204,79% off
13,Lee Topper\nRiding Glasses Wrap-around Sunglas...,Riding Glasses Wrap-around Sunglasses (Free Size),₹299,88% off
14,Fastrack\nUV Protection Shield Sunglasses (Fre...,UV Protection Shield Sunglasses (Free Size),₹719,20% off
15,"VINCENT CHASE\nby Lenskart Polarized, UV Prote...","by Lenskart Polarized, UV Protection Aviator S...","₹1,049",47% off
16,Mi\nPolarized Aviator Sunglasses (Free Size)\n...,Polarized Aviator Sunglasses (Free Size),₹799,33% off
17,"ROZZETTA CRAFT\nPolarized, Riding Glasses Spor...","Polarized, Riding Glasses Sports, Wrap-around ...",₹499,75% off
18,PIRASO\nUV Protection Aviator Sunglasses (54)\...,UV Protection Aviator Sunglasses (54),₹279,82% off
19,VINCENT CHASE\nby Lenskart UV Protection Aviat...,by Lenskart UV Protection Aviator Sunglasses (53),₹999,50% off
20,Fastrack\nPolarized Retro Square Sunglasses (F...,Polarized Retro Square Sunglasses (Free Size),₹639,20% off
21,Fastrack\nUV Protection Aviator Sunglasses (58...,UV Protection Aviator Sunglasses (58),"₹1,039",20% off
22,Rich Club\nUV Protection Retro Square Sunglass...,UV Protection Retro Square Sunglasses (54),₹325,53% off
23,"VINCENT CHASE\nby Lenskart Polarized, UV Prote...","by Lenskart Polarized, UV Protection Cat-eye S...",₹849,57% off
24,New Specs\nUV Protection Oval Sunglasses (Free...,UV Protection Oval Sunglasses (Free Size),₹216,78% off
25,PIRASO\nUV Protection Rectangular Sunglasses (...,UV Protection Rectangular Sunglasses (52),₹252,90% off
26,"VINCENT CHASE\nby Lenskart Polarized, UV Prote...","by Lenskart Polarized, UV Protection Wayfarer ...",₹749,70% off
27,"VINCENT CHASE\nby Lenskart Polarized, UV Prote...","by Lenskart Polarized, UV Protection Cat-eye S...",₹799,68% off
28,"SUNBEE\nUV Protection, Polarized, Mirrored Ret...","UV Protection, Polarized, Mirrored Retro Squar...",₹259,80% off
29,ROYAL SON\nMirrored Aviator Sunglasses (55)\n₹...,Mirrored Aviator Sunglasses (55),₹379,74% off
30,kingsunglasses\nUV Protection Rectangular Sung...,UV Protection Rectangular Sunglasses (55),₹189,85% off
31,"VINCENT CHASE\nby Lenskart Polarized, UV Prote...","by Lenskart Polarized, UV Protection Aviator S...","₹1,415",29% off
32,"PHENOMENAL\nUV Protection, Mirrored Retro Squa...","UV Protection, Mirrored Retro Square Sunglasse...",₹369,81% off
33,"EYELLUSION\nRiding Glasses, Riding Glasses, UV...","Riding Glasses, Riding Glasses, UV Protection ...",₹199,80% off
34,"Fastrack\nGradient, UV Protection Wayfarer Sun...","Gradient, UV Protection Wayfarer Sunglasses (F...",₹719,20% off
35,"VINCENT CHASE\nby Lenskart UV Protection, Pola...","by Lenskart UV Protection, Polarized Aviator S...",₹949,52% off
36,"VINCENT CHASE\nby Lenskart Polarized, UV Prote...","by Lenskart Polarized, UV Protection Retro Squ...",₹949,52% off
37,"GANSTA\nGradient, UV Protection Aviator Sungla...","Gradient, UV Protection Aviator Sunglasses (57)",₹349,82% off
38,"LIZA ANGEL\nRiding Glasses, Night Vision Spect...","Riding Glasses, Night Vision Spectacle Sunglas...",₹199,80% off
39,"VINCENT CHASE\nPolarized, UV Protection Round ...","Polarized, UV Protection Round Sunglasses (51)",₹999,50% off

In [98]:
brand=[]
description=[]
price=[]
discount=[]

In [110]:
start=0
end = 3
for page in range(start,end):
    com=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in com:
        brand.append(i.text)
    
    desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in desc:
        description.append(i.text)
    
    rate=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in rate:
        price.append(i.text)
    
    offer=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]//span')
    for i in offer:
        discount.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [111]:
print(len(brand),len(description),len(price),len(discount))

280 276 280 280

In [114]:
df=pd.DataFrame({'Brand':brand,'Price':price,'Discount':discount})
df.head(100)

                                                Brand   Price Discount
0   VINCENT CHASE\nby Lenskart Polarized, UV Prote...    ₹999  50% off
1   VINCENT CHASE\nby Lenskart Polarized, UV Prote...  ₹1,415  29% off
2   Fastrack\nUV Protection Wayfarer Sunglasses (F...    ₹799  20% off
3   Fastrack\nUV Protection Rectangular Sunglasses...    ₹639  20% off
4   Elligator\nUV Protection Round Sunglasses (54)...    ₹298  88% off
..                                                ...     ...      ...
95                                        Intellilens    ₹695  76% off
96                                                 Mi    ₹799  33% off
97                                     ROZZETTA CRAFT    ₹499  75% off
98                                           Fastrack  ₹1,039  20% off
99                                      VINCENT CHASE    ₹749  62% off

[100 rows x 3 columns]

In [ ]:
# in 4 th questio many issues arise

In [ ]:
#5.Scrape 100 reviews data from flipkart.com for iphone11 phone
#As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews

In [36]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\hp\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [37]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [38]:
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\zipfile\chromedriver.exe")

In [39]:
driver.get("https://www.flipkart.com/apple-iphone-12-black-128-gb/product-reviews/itmf1f0a58f1ecd7?pid=MOBFWBYZK3HACR72&lid=LSTMOBFWBYZK3HACR72PX4KSA&marketplace=FLIPKART")

In [40]:
designation=driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('iphone11 phone')

In [41]:
search=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search.click()

In [42]:
product=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[3]/div/div/div/a/div[2]/div[1]/div[1]')
product.click()

In [43]:
Rating=[]
Review_summary=[]
Full_review=[]

In [50]:
rate=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in rate:
    Rating.append(i.text)
    
desc=driver.find_elements(By.XPATH,'//P[@class="_2-N8zT"]')
for i in desc:
    Review_summary.append(i.text)
    
rev=driver.find_elements(By.XPATH,'//DIV[@class="t-ZTKy"]')
for i in rev:
    Full_review.append(i.text)

In [51]:
print(len(Rating),len(Review_summary),len(Full_review))

0 0 0

In [52]:
df=pd.DataFrame({'Review_summary':Review_summary,'Full_review':Full_review,'Rating':Rating})
df

Empty DataFrame
Columns: [Review_summary, Full_review, Rating]
Index: []

In [54]:
#6.Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
#search field.
#You have to scrape 4 attributes of each sneaker:
#1. Brand
#2. Product Description
#3. Price

In [71]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\hp\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [72]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [73]:
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\zipfile\chromedriver.exe")

In [74]:
driver.get("https://www.flipkart.com/")

In [75]:
designation=driver.find_element(By.CLASS_NAME,"_3704LK")
designation.send_keys('sneakers')

In [76]:
search=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search.click()

In [77]:
Brand = []
Product_Description=[]
Price=[]
discount=[]

In [78]:
desc=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in desc:
    Product_Description.append(i.text)

    
com=driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
for i in com:
    Brand.append(i.text)
com=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in com:
    Brand.append(i.text)
    
rate=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in rate:
    Price.append(i.text)
offer=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]//span')
for i in offer:
    discount.append(i.text)

In [79]:
print(len(Brand),len(Product_Description),len(Price),len(discount))

40 40 40 40

In [80]:
df=pd.DataFrame({'Product_Description':Product_Description,'Brand':Brand,'Price':Price,'Discount':discount})
df

,Product_Description,Brand,Price,Discount
0,aadi,Latest Women's Pack of 2 Stylish Slip-On Loafe...,₹374,81% off
1,Deals4you,Mesh | Ultralightweight | Comfortable | Breath...,₹373,62% off
2,PUMA,Sneakers For Women,"₹1,542",55% off
3,Layasa,Puma Smash Wns v2 L Sneakers For Women,₹199,80% off
4,Chevit,supr Sneakers For Men,₹544,71% off
5,Layasa,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹349,65% off
6,KWIK FIT,Sneakers For Men,₹397,80% off
7,Magnolia,Kwik FIT casual sneaker shoes and partywear sh...,₹374,62% off
8,Layasa,Sneakers For Men,₹228,77% off
9,Labbin,supr Sneakers For Men,₹499,50% off
10,Numenzo,Sneakers For Men,₹449,55% off
11,Deals4you,411 Casual Sneakers For Men,₹479,68% off
12,Kzaara,Sneakers For Women,₹259,74% off
13,SCATCHITE,Sneakers For Men,₹351,64% off
14,Chevit,Sneakers Sneakers For Men,₹239,70% off
15,Sparx,Sneakers For Men,₹709,15% off
16,PUMA,Men White Sneakers Sneakers For Men,"₹2,115",57% off
17,LEVI'S,Puma Smash v2 Sneakers For Men,"₹1,759",45% off
18,aadi,Levi's Men's Lancer Sneakers Sneakers For Men,₹399,60% off
19,PUMA,Sneakers For Men,"₹2,618",47% off
20,ASTEROID,Caracal Sneakers For Men,₹499,75% off
21,Deals4you,Luxury Branded Fashionable Men's Casual Walkin...,₹381,74% off
22,LEVI'S,Sneakers For Men,"₹1,539",45% off
23,RED TAPE,Levi's Men's Henry Sneakers Sneakers For Men,"₹1,349",75% off
24,Sparx,Sneakers For Men,₹764,15% off
25,BRUTON,SM-747 Sneakers For Men,₹366,71% off
26,Magnolia,Exclusive Sneaker Shoes Sneakers For Men,₹374,62% off
27,BRUTON,Sneakers For Men,₹299,76% off
28,REEBOK CLASSICS,Modern Trendy Sneakers Shoes Sneakers For Men,"₹1,437",68% off
29,Rzisbo,PRINCESS Sneakers For Women,₹458,54% off
30,LuvShus,Sneakers For Men,₹410,58% off
31,RED TAPE,Men Casual Shoe New Trend With Fashion Panda D...,"₹1,299",75% off
32,Chevit,Sneakers For Men,₹449,71% off
33,ROCKFIELD,Sneakers For Men,₹299,70% off
34,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹296,55% off
35,BIRDE,Sports Running Shoes Sneakers For Men,₹299,40% off
36,LEVI'S,Levi's Men's Lancer Sneakers Sneakers For Men,"₹1,759",45% off
37,Deals4you,Sneakers For Women,₹419,58% off
38,Layasa,Sneakers For Men,₹399,60% off
39,ONECENTRE,STR2 Sneakers For Men,₹299,50% off

In [87]:
brand=[]
description=[]
price=[]
discount=[]

In [88]:
start=0
end = 3
for page in range(start,end):
    desc=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in desc:
        description.append(i.text)
    
    com=driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
    for i in com:
        brand.append(i.text)
    com=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in com:
        brand.append(i.text)
    
    rate=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in rate:
        price.append(i.text)
    offer=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]//span')
    for i in offer:
        discount.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [89]:
print(len(brand),len(description),len(price),len(discount))

120 120 120 120

In [91]:
df=pd.DataFrame({'Product_Description':description,'Brand':brand,'Price':price,'Discount':discount})
df.head(100)

,Product_Description,Brand,Price,Discount
0,PUMA,Sneakers Sneakers For Men,"₹1,715",50% off
1,Robbie jones,Smash Wns v2 L Sneakers For Women,₹599,40% off
2,Shozie,Casual Sneakers Black Outdoor Shoes For Boys A...,₹559,44% off
3,Xtoon,Stylish Walking Partywear Sneakers Casual Shoe...,₹499,66% off
4,Magnolia,Modern Trendy Sneakers boot Sneakers For Men,₹499,50% off
...,...,...,...,...
95,Kraasa,Series 7 Sneakers For Men,₹499,50% off
96,Xtoon,Modern Trendy Sneakers boot Sneakers For Men,₹499,66% off
97,Layasa,Sneakers For Women,₹498,50% off
98,Roadster,Sneakers For Men,₹959,70% off
99,Robbie jones,Casual Sneakers Canvas Shoes For Men Sneakers ...,₹529,47% off

In [ ]:
# 7. Go to the link - https://www.myntra.com/shoes
Set second Price filter and Color filter to “Black”, as shown in the below image

In [ ]:
#8.webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” as shown in the below image

In [171]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\hp\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [172]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [173]:
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\zipfile\chromedriver.exe")

In [174]:
driver.get("https://www.amazon.in/")

In [175]:
designation=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
designation.send_keys('Laptop')

In [176]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [186]:
cpu=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[14]/span/a/span')
cpu.click()

In [187]:
Title=[]
Ratings=[]
Price=[]

In [188]:
name=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in name[0:10]:
    Title.append(i.text)

    
review=driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in review[0:10]:
    Ratings.append(i.text)
    
rate=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in rate[0:10]:
    Price.append(i.text)

In [189]:
print(len(Title),len(Ratings),len(Price))

10 10 10

In [190]:
df=pd.DataFrame({'Title':Title,'Ratings':Ratings,'Price':Price})
df.head(10)

                                               Title Ratings     Price
0  Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...            62,990
1  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...            89,990
2  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...            82,400
3  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...            56,590
4  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...            87,990
5  Samsung Galaxy Book2 Intel 12th Gen core i7 39...            79,490
6  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...            84,990
7  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...          1,09,990
8  Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-...            94,990
9  ASUS TUF Gaming F15 (2022), 15.6" (39.62 cms) ...          1,09,990

In [ ]:
#9.Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company

In [203]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\users\hp\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [204]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [205]:
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\zipfile\chromedriver.exe")

In [206]:
driver.get("https://www.ambitionbox.com/")

In [207]:
designation=driver.find_element(By.CLASS_NAME,'navItemLink')
designation.click()

In [217]:
name=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
name.send_keys('data scientist')

In [218]:
search=driver.find_element(By.CLASS_NAME,'ctas-btn-medium')
search.click()

In [223]:
search_location=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search_location.send_keys('Noida')

In [224]:
select=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
select.click()

In [277]:
name=[]
date=[]
ratings=[]

In [278]:
title=driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in title[0:10]:
    name.append(i.text)

    
time=driver.find_elements(By.XPATH,'//span[@class="body-small-l"]')
for i in time[0:10]:
    date.append(i.text)

rev=driver.find_elements(By.XPATH,'//i[@class="icon icon-star"]')
for i in rev[0:10]:
    ratings.append(i.text)

In [279]:
print(len(name),len(date),len(ratings))

10 10 10

In [280]:
df=pd.DataFrame({'NAME':name,'Date':date,'Ratings':ratings})
df.head(10)

                                                NAME             Date Ratings
0  CBRE South Asia Pvt Ltd\n · \n4.3\nbased on 2....           6d ago
1       CBRE South Asia Pvt Ltd\n4.3\n(2.3k Reviews)   via naukri.com
2                      Genpact\n4.0\n(19.9k Reviews)         22hr ago
3  Ericsson India Global Services Pvt. Ltd.\n4.3\...  via iimjobs.com
4  GENPACT India Private Limited\n4.0\n(19.9k Rev...          16d ago
5  Optum Global Solutions (India) Private Limited...   via naukri.com
6  Optum Global Solutions (India) Private Limited...           9d ago
7  Ericsson India Global Services Pvt. Ltd.\n4.3\...   via naukri.com
8    SOPRA STERIA INDIA LIMITED\n4.2\n(1.1k Reviews)          13d ago
9  EXL Services.com ( I ) Pvt. Ltd.\n3.9\n(5.1k R...   via naukri.com

In [ ]:
#10. Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary

In [281]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hp\anaconda3\lib\site-packages (4.4.0)
Requirement already satisfied: trio~=0.17 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\hp\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: idna in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: cffi>=1.14 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: async-generator>=1.9 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\hp\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\hp\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\hp\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\hp\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hp\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [282]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [283]:
driver=webdriver.Chrome(r"C:\Users\hp\Downloads\zipfile\chromedriver.exe")

In [284]:
driver.get("https://www.ambitionbox.com/")

In [313]:
name=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
name.send_keys('data scientist')

In [376]:
company=[]
experience=[]
min_salary=[]
avg_salary=[]
max_salary=[]

In [377]:
name=driver.find_elements(By.XPATH,'//div[@class="company-info"]//a')
for i in name:
    company.append(i.text)
    
work=driver.find_elements(By.XPATH,'//DIV[@class="sbold-list-header"]')
for i in work:
    experience.append(i.text)
    
min_sal=driver.find_elements(By.XPATH,'//DIV[@class="value body-medium"]')
for i in min_sal:
    min_salary.append(i.text)

    
avg_sal=driver.find_elements(By.CLASS_NAME,'averageCtc')
for i in avg_sal:
    avg_salary.append(i.text)
    
max_sal=driver.find_elements(By.XPATH,'//DIV[@class="value body-medium"]')
for i in max_sal:
    max_salary.append(i.text)

In [378]:
print(len(company),len(experience),len(min_salary),len(avg_salary),len(max_salary))

10 10 20 10 20

In [371]:
min_salary

['₹ 25.0L',
 '₹ 45.0L',
 '₹ 15.0L',
 '₹ 25.5L',
 '₹ 11.0L',
 '₹ 22.6L',
 '₹ 11.0L',
 '₹ 22.0L',
 '₹ 9.0L',
 '₹ 23.0L',
 '₹ 9.0L',
 '₹ 20.0L',
 '₹ 11.0L',
 '₹ 20.0L',
 '₹ 8.8L',
 '₹ 17.5L',
 '₹ 8.0L',
 '₹ 20.5L',
 '₹ 10.0L',
 '₹ 18.0L']